form {
  border: 3px solid black;
  background-color: lightseagreen;
  width: min(100% - 2rem, 600px);
  margin-inline: auto;
}

input {
  accent-color: #0aff11;
  border-radius: 50% 10% / 25%;
  outline:  3px solid orange;
  outline-offset: -0.5em;
}